---
import { Footer } from '@/features/Footer/Footer';
import { Navbar } from '@/features/Navbar/Navbar';
import { AppConfig } from '@/utils/AppConfig';

// eslint-disable-next-line prettier/prettier
export interface Props {
  head: {
    title: string;
    description: string;
  };
}

const {
  head: { title, description },
} = Astro.props as Props;
---

<html lang='en' class="bg-cod-950">
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{title}</title>
    <meta name='description' content={description} />
    <meta name='author' content={AppConfig.author} />

    <link rel='alternate' type='application/rss+xml' href='/rss.xml' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
  </head>
  <body class='text-cod-100'>
    <Navbar />

    <slot></slot>

    <Footer />
  </body>
</html>
