---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';

import { TopicsView } from '@/features/BlogViews/TopicsView';
import Base from '@/features/shared/Base.astro';
import { CTA } from '@/features/shared/CTA';
import { GradientText } from '@/features/shared/GradientText';
import { Section } from '@/features/shared/Section';
import { AppConfig } from '@/utils/AppConfig';
import { getTopicFromUrl } from '@/utils/helpers';

const allUniqueTopics = new Set<string>();
const allPosts = (
  await getCollection('blog', ({ data }) => {
    return import.meta.env.PROD ? !data.draft : true;
  })
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

allPosts.forEach((post) => {
  allUniqueTopics.add(getTopicFromUrl(post.slug));
});

const topicData: { topic: string; posts: CollectionEntry<'blog'>[] }[] = [];
allUniqueTopics.forEach((topic) => {
  const topicDatum = { topic, posts: [] as CollectionEntry<'blog'>[] };
  allPosts.forEach((post) => {
    if (getTopicFromUrl(post.slug) === topic) topicDatum.posts.push(post);
  });
  topicData.push(topicDatum);
});

const title = `Blog Topics | ${AppConfig.site_name}`;
const description = "Blog posts sorted into all blog topics - Sa'id Kharboutli";
---

<Base head={{ title, description }}>
  <Section>
    <div class="text-center">
      <h1 class="text-3xl font-bold">All <GradientText>Topics</GradientText></h1>
    </div>
  </Section>

  <Section>
    <TopicsView topicData={topicData} />
  </Section>
  <CTA client:load />
</Base>
