---
import { GradientText } from '@/components/GradientText';
import { Section } from '@/components/Section';
import { TopicsView } from '@/components/TopicsView';
import { CTA } from '@/partials/CTA';
import Base from '@/templates/Base.astro';
// eslint-disable-next-line prettier/prettier
import type { IFrontMatterPost } from '@/types/IFrontMatterPost';
// eslint-disable-next-line prettier/prettier
import { AppConfig } from '@/utils/AppConfig';
import { getTopicFromUrl, sortPostsByDate } from '@/utils/helpers';

const allUniqueTopics = new Set<any>();
const allPosts = await Astro.glob<IFrontMatterPost>('../**/*.md');
allPosts.forEach(post => {
    allUniqueTopics.add(
        getTopicFromUrl(post.url || '') || '');
});

const topicData: any[] = [];
allUniqueTopics.forEach(topic => {
  const topicDatum = { topic, posts: [] as any[]};
  allPosts.forEach(post => {
    if(getTopicFromUrl(post.url!) === topic) topicDatum.posts.push(post)
  });
  topicDatum.posts = sortPostsByDate(topicDatum.posts);
  topicData.push(topicDatum);
});

const title = `Blog Topics | ${AppConfig.site_name}`;
const description =
  'Here you can find all the tags used on blog articles.';
---

<Base head={{ title, description }}>
  <Section>
    <div class="text-center">
      <h1 class="text-3xl font-bold">All <GradientText>Topics</GradientText></h1>
    </div>
  </Section>
  
  <Section>
    <TopicsView topicData={topicData}/>
  </Section>
  <CTA client:load />
</Base>