<>
  <div id="search" class="-mt-8 ml-3 size-full p-4"></div>

  <script is:inline>
    window.addEventListener('DOMContentLoaded', () => {
      new PagefindUI({
        element: '#search',
        showSubResults: true,
        pageSize: 10,
        baseUrl: '/',
      });
    });

    window.addEventListener('keydown', (event) => {
      if (event.key === '/' || event.key === '.') {
        event.preventDefault();
        document.querySelector('div#search input').focus();
      }
    });
  </script>

  <style is:global>
    #search {
      --pagefind-ui-primary: #eeeeee;
      --pagefind-ui-text: #eeeeee;
      --pagefind-ui-background: #292929;
      --pagefind-ui-border: #363636;
      --pagefind-ui-tag: #292929;
    }
  </style>
</>
