---
import { GradientText } from '@/components/GradientText';
import { ProjectGallery } from '@/components/ProjectCard/ProjectGallery';
import { Section } from '@/components/Section';
import { CTA } from '@/partials/CTA';
import Base from '@/templates/Base.astro';
// eslint-disable-next-line prettier/prettier
import type { IFrontMatterPost } from '@/types/IFrontMatterPost';
// eslint-disable-next-line prettier/prettier
import type { IFrontMatterProject } from '@/types/IFrontMatterProject';
// eslint-disable-next-line prettier/prettier
import { AppConfig } from '@/utils/AppConfig';
import { sortPostsByDate , sortProjectsByDate } from '@/utils/helpers';

const allProjects = await Astro.glob<IFrontMatterProject>('./*.md');
const sortedProjects = sortProjectsByDate(allProjects);

const allPosts = await Astro.glob<IFrontMatterPost>('../blog/topics/**/*.md');
const sortedPosts = sortPostsByDate(allPosts);

const projectAndPost: any[] = [];
sortedProjects.forEach((project) => {
  const data = {project, post: null as any}; 
  sortedPosts.forEach((post) => {
    if(data.project.frontmatter.series === post.frontmatter.series && post.frontmatter.isProject) data.post = post;
  });
  projectAndPost.push(data);
});


const title = `Projects | ${AppConfig.site_name}`;
const description =
  'Here you can find all the tags used on blog articles.';
---

<Base head={{ title, description }}>
  <Section>
    <div class="text-center">
      <h1 class="text-3xl font-bold">All <GradientText>Projects</GradientText></h1>
    </div>
  </Section>
  
  <Section>
    <ProjectGallery projectList={projectAndPost} />
  </Section>
  <CTA client:load />
</Base>