---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';

import { ProjectGallery } from '@/features/ProjectViews/ProjectGallery';
import Base from '@/features/shared/Base.astro';
import { CTA } from '@/features/shared/CTA';
import { GradientText } from '@/features/shared/GradientText';
import { Section } from '@/features/shared/Section';
import type { IProjectAndPost } from '@/types/IProjectAndPost';
import { AppConfig } from '@/utils/AppConfig';

const allProjects = (await getCollection('projects')).sort(
  (a, b) => b.data.startDate.valueOf() - a.data.startDate.valueOf()
);

const allPosts = (
  await getCollection('blog', ({ data }) => {
    return import.meta.env.PROD ? !data.draft : true;
  })
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const projectAndPost: IProjectAndPost[] = [];
allProjects.forEach((project) => {
  const data = { project, post: null as CollectionEntry<'blog'> | null };
  allPosts.forEach((post) => {
    if (data.project.data.series === post.data.series && post.data.isProject) data.post = post;
  });
  projectAndPost.push(data);
});

const title = `Projects | ${AppConfig.site_name}`;
const description = "All of my projects - Sa'id Kharboutli";
---

<Base head={{ title, description }}>
  <Section>
    <div class="text-center">
      <h1 class="text-3xl font-bold">All <GradientText>Projects</GradientText></h1>
    </div>
  </Section>

  <Section>
    <ProjectGallery projectPostPair={projectAndPost} />
  </Section>
  <CTA client:load />
</Base>
