---
import { getCollection } from 'astro:content';

import { TagList } from '@/features/BlogViews/PostTagListView';
import Base from '@/features/shared/Base.astro';
import { CTA } from '@/features/shared/CTA';
import { GradientText } from '@/features/shared/GradientText';
import { Section } from '@/features/shared/Section';
import { AppConfig } from '@/utils/AppConfig';

const title = `Blog Tags | ${AppConfig.site_name}`;
const description = "Here you can find all the tags used on blog articles - Sa'id Kharboutli";

const allUniqueTags = new Set<string>();
const allPosts = (
  await getCollection('blog', ({ data }) => {
    return import.meta.env.PROD ? !data.draft : true;
  })
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

allPosts.forEach((post) => {
  post.data.tags.forEach((tag) => {
    allUniqueTags.add(tag);
  });
});
---

<Base head={{ title, description }}>
  <Section>
    <div class="text-center">
      <h1 class="text-3xl font-bold">All <GradientText>Tags</GradientText></h1>
    </div>
  </Section>
  <TagList tags={allUniqueTags} />
  <CTA client:load />
</Base>
